{% extends "create_transaction.html" %}

{% block mainTitle %}Create Personal Goal!{% endblock %}

{% block action %}
    {% url 'create_personal_goal_action' %}
{% endblock %}

{% block namePlaceholder %}'Goal Name'{% endblock %}

{% block toggle %}{% include 'components/toggle_component.html' with name='goal_type' %}{% endblock %}

{% block dates %}
    {% include 'components/start_end_date.html' %}
{% endblock %}

{% block back %}
    onclick="window.location.href='{% url 'view_personal_goals' %}'"
{% endblock %}

{% block additional_options %}
    <option value="Any Category">Any Category</option>
{% endblock %}