{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/input_field.css' %}">
<div style="margin: 0 auto;
    max-width: fit-content;
    height: fit-content;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 5px 10px #5B5FC5, 5px 0px 10px #5B5FC5;
    margin-top: 50px;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 30px;">

<h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: #5B5FC5; margin-bottom: 10%;">{% block mainTitle %}Create Group Goal!{% endblock %}</h2>

<form method="POST" action="{% block action %}{% url 'create_group_goal_action' %}{% endblock %}">
    {% csrf_token %}
    <div>
        <input type="text" placeholder = {% block namePlaceholder %}'Goal Name'{% endblock %} id="name" name="name" required style="width: 80%; padding: 8px; border-radius: 5px; border: 1px solid #ccc; background-color: #E9ECFA; font-family: Verdana, Geneva, Tahoma, sans-serif">
    </div>
    <div style="margin-bottom: 3%;">
        <input type="number" 
            id="amount" 
            name = "amount"
            placeholder="Amount"
            style="width: 80%; padding: 8px; border-radius: 5px; border: 1px solid #ccc; background-color: #E9ECFA; font-family: Verdana, Geneva, Tahoma, sans-serif;"
            min="0" 
            step="0.01" 
            pattern="^\d+(\.\d{1,2})?$" 
            required
        >
    </div>
  
    {% include 'components/start_end_date.html' %}

    <div>
        <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;">What type of goal is this?</p>
        {% block toggle %}{% include 'components/toggle_component.html' with name='goal_type' %}{% endblock %}
    </div>
    <div style="margin-top: 5%;">
        <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Is this a primary goal? (Leaderboard goal)</p>
        {% block toggle2 %}{% include 'components/is_primary.html' with name='is_primary' %}{% endblock %}
    </div>
    <div>
        <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Is this an overall goal?</p>
        {% block toggle3 %}{% include 'components/is_overall.html' with name='is_overall' %}{% endblock %}
    </div>
    <button type="button" {% block back %}onclick="window.location.href='{% url 'view_transactions' %}'"{% endblock %}  
        style="background-color: #5B5FC5;
        background-color: #ffffff;
        border: 2px solid #5B5FC5;
        color: #5B5FC5;
        padding: 10px 20px;
        border-radius: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        cursor: pointer;
        margin-right: 10px;">Back</button>
    <button type="submit" style="background-color: #5B5FC5;
        color: #ffffff;
        border: none;
        border: 2px solid #5B5FC5;
        padding: 10px 20px;
        max-width: fit-content;
        border-radius: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        cursor: pointer;">Submit</button>
</form>
</div>

{% endblock %}

