{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/input_field.css' %}">
<div style="margin: 0 auto;
    min-width: 300px;
    max-width: 350px;
    height: fit-content;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 5px 10px #5B5FC5, 5px 0px 10px #5B5FC5;
    margin-top: 50px;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 30px;">

<h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: #5B5FC5; margin-bottom: 10%;">{% block mainTitle %}Create Transaction!{% endblock %}</h2>

<form method="POST" action="{% block action %}{% url 'create_transaction_action' %}{% endblock %}">
    {% csrf_token %}
    <div>
        <input type="text" placeholder = {% block namePlaceholder %}'Transaction Name'{% endblock %} id="name" name="name" required style="width: 70%; padding: 8px; border-radius: 5px; border: 1px solid #ccc; background-color: #E9ECFA; font-family: Verdana, Geneva, Tahoma, sans-serif">
    </div>
    <div style="margin-bottom: 3%;">
        <input type="number" 
            id="amount" 
            name = "amount"
            placeholder="Amount"
            style="width: 70%; padding: 8px; border-radius: 5px; border: 1px solid #ccc; background-color: #E9ECFA; font-family: Verdana, Geneva, Tahoma, sans-serif;"
            min="0" 
            step="0.01" 
            pattern="^\d+(\.\d{1,2})?$" 
            required
        >
    </div>
  
    
    <div>
        <select id="type" name="type" style="width: 70%; padding: 8px; border-radius: 5px; border: 1px solid #ccc; background-color: #E9ECFA; font-family: Verdana, Geneva, Tahoma, sans-serif">
        {% block additional_options %}
        {% endblock %}
        <optgroup label="Category Options">
        {% for category in categories %}
            <option value="{{ category.category_id }}">{{ category.category_id }}</option>
        {% endfor %}
        </select>
        <select id="type" name="group_goal" style="width: 70%; padding: 8px; border-radius: 5px; border: 1px solid #ccc; background-color: #E9ECFA; font-family: Verdana, Geneva, Tahoma, sans-serif">
            <option value="No Group Goal">Not Towards a Specific Group Goal</option>
            <optgroup label="Group Goal">
            {% for goal in group_goals %}
                <option value="{{ goal.goal_name }}">{{ goal.goal_name }}</option>
            {% endfor %}
        </select>
        {% block add_category_modal %}
        {% include "components/add_category_modal.html" %}
        {% endblock %}
    </div>

    {% block dates %}
    <label for="date" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Date:</label>
    <input type="date" id="date" name="date" style="font-family: Verdana, Geneva, Tahoma, sans-serif; background-color: #E9ECFA; padding: 5px; border-radius: 5px; border: none;" required>
    {% endblock %}

    <div>
    {% block toggle %}{% include 'components/toggle_component.html' with name='transaction_type' %}{% endblock %}
    </div>
    <button type="button" {% block back %}onclick="window.location.href='{% url 'view_transactions' %}'"{% endblock %}  
        style="background-color: #5B5FC5;
        background-color: #ffffff;
        border: 2px solid #5B5FC5;
        color: #5B5FC5;
        padding: 10px 20px;
        border-radius: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        cursor: pointer;
        margin-right: 10px;">Back</button>
    <button type="submit" style="background-color: #5B5FC5;
        color: #ffffff;
        border: none;
        border: 2px solid #5B5FC5;
        padding: 10px 20px;
        max-width: fit-content;
        border-radius: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        cursor: pointer;">Submit</button>
</form>
</div>

{% endblock %}