{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/input_field.css' %}">
<div style="margin: 0 auto;
width: 30%;
height: fit-content;
padding: 20px;
background-color: #ffffff;
border-radius: 8px;
box-shadow: 0px 5px 10px #5B5FC5, 5px 0px 10px #5B5FC5;
margin-top: 50px;
text-align: center;

justify-content: space-around;">

<h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: #5B5FC5; margin-bottom: 10%;">Create Transaction!</h2>

<form method="POST" action="{% url 'create_transaction_action' %}">
    {% csrf_token %}
    <div> <!-- Add inline styles for each input group -->
        <!--<label for="name" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Goal Name:</label> -->
        <input type="text" placeholder = 'Transaction Name' id="name" name="name" required style="width: 70%; padding: 8px; border-radius: 5px; border: 1px solid #ccc; background-color: #E9ECFA; font-family: Verdana, Geneva, Tahoma, sans-serif"><br><br>
    </div>
    <!----<label for="amount">Amount:</label>
    <input type="number" id="amount" name="amount" min="0" step="0.01" pattern="^\d+(\.\d{1,2})?$" required><br><br>-->
    <div style="margin-bottom: 3%;">
        <!--<label for="amount" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Amount:</label> -->
        <!--<input id="amount" type="number" style="width: 70%; padding: 8px; border-radius: 5px; border: 1px solid #ccc; background-color: #E9ECFA; font-family: Verdana, Geneva, Tahoma, sans-serif;" placeholder="Amount" min="0" step="0.01" pattern="^\d+(\.\d{1,2})?$" required><br><br> -->
        <!--<input type="number" id="amount" name="amount" min="0" step="0.01" pattern="^\d+(\.\d{1,2})?$" required><br><br>-->
        <input type="number" 
        id="amount" 
        name = "amount"
        placeholder="Amount"
style="width: 70%; padding: 8px; border-radius: 5px; border: 1px solid #ccc; background-color: #E9ECFA; font-family: Verdana, Geneva, Tahoma, sans-serif;"
min="0" 
step="0.01" 
pattern="^\d+(\.\d{1,2})?$" 
required
>
<br><br>
    </div>
  
    
    <div> <!-- Add inline styles for each input group -->
        <!--<label for="type" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Type:  </label>-->
        <select id="type" name="type" style="width: 70%; padding: 8px; border-radius: 5px; border: 1px solid #ccc; background-color: #E9ECFA; font-family: Verdana, Geneva, Tahoma, sans-serif">
    <!--<select id="type" name="type"> -->
            <option value="">Any Category</option> <!-- Option for Any Category -->
            <optgroup label="Category Options">
            {% for category in categories %}
                <option value="{{ category.category_id }}">{{ category.category_id }}</option>
            {% endfor %}
        </select><br><br>
        {% block add_category_modal %}
        {% include "components/add_category_modal.html" %}
        {% endblock %}
    </div>

    <label for="date" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Date:</label>
    <input type="date" id="date" name="date" style="font-family: Verdana, Geneva, Tahoma, sans-serif; background-color: #E9ECFA; padding: 5px; border-radius: 5px; border: none;" required><br><br>

    <!--<label for="name">Transaction Name:</label>-->
    <!--<input type="text" id="name" name="name" required><br><br>-->
    <div>
    {% include 'components/toggle_component.html' with name='transaction_type' %}
    </div>
    <button type="submit" style="background-color: #5B5FC5; /* Blue button color */
      color: #ffffff; /* White button text color */
      border: none;
      padding: 10px 20px;
      width: 30%;
      border-radius: 5px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      cursor: pointer;">Submit</button>
</form>
</div>
  
<p><a href="{% url 'home' %}">home</a></p>
<p><a href="{% url 'view_transactions' %}"> back</a></p>


{% endblock %}