{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/input_field.css' %}">
<style>
    .radio label {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: inline-block; /* Ensures each label is on its line */
        margin-right: 10%; /* Adjust the margin between labels */
    }
</style>
<div style="margin: 0 auto;
    max-width: fit-content;
    height: fit-content;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 5px 10px #5B5FC5, 5px 0px 10px #5B5FC5;
    margin-top: 50px;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 30px;">

<h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: #5B5FC5; margin-bottom: 10%;">{% block mainTitle %}Edit Transaction{% endblock %}</h2>

<form method="POST" action="{% block action %}{% url 'edit_transaction_action' transaction.id %}{% endblock %}">
    {% csrf_token %}
    <div>
        <input type="text" placeholder={% block namePlaceholder %}'Transaction Name'{% endblock %} id="name" name="name" required style="width: 70%; padding: 8px; border-radius: 5px; border: 1px solid #ccc; background-color: #E9ECFA; font-family: Verdana, Geneva, Tahoma, sans-serif" {% block namePlaceholderValue %}value="{{ transaction.name }}"{% endblock %}>
    </div>
    <div style="margin-bottom: 3%;">
        <input type="number" id="amount" name="amount" placeholder="Amount" style="width: 70%; padding: 8px; border-radius: 5px; border: 1px solid #ccc; background-color: #E9ECFA; font-family: Verdana, Geneva, Tahoma, sans-serif;" min="0" step="0.01" pattern="^\d+(\.\d{1,2})?$" {% block amountValue %}required value="{{ transaction.amount }}"{% endblock %}>
    </div>
    
    <div>
        {% block editTr %}
        <select id="type" name="type" style="width: 70%; padding: 8px; border-radius: 5px; border: 1px solid #ccc; background-color: #E9ECFA; font-family: Verdana, Geneva, Tahoma, sans-serif">
            <optgroup label="Category Options">
                {% block category %}
                {% for category in categories %}
                    {% block categoryValue %}
                    <option value="{{ category.category_id }}" {% if category.category_id == transaction.category.category_id %} selected {% endif %}>{{ category.category_id }}</option>
                    {% endblock %}
                {% endfor %}
                {% endblock %}
            </optgroup>
        </select>
        <select id="type" name="group_goal" style="width: 70%; padding: 8px; border-radius: 5px; border: 1px solid #ccc; background-color: #E9ECFA; font-family: Verdana, Geneva, Tahoma, sans-serif">
            <option value="No Group Goal">Not Towards a Specific Group Goal</option>
            <optgroup label="Group Goal">
                {% for goal in group_goals %}
                    <option value="{{ goal.goal_name }}" {% if transaction.group_goal.goal_name == goal.goal_name %} selected {% endif %}>{{ goal.goal_name }}</option>
                {% endfor %}
            </optgroup>
        </select>
        {% endblock %}
    </div>

    {% block dates %}
    <label for="date" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Date:</label>
    <input type="date" id="date" name="date" style="font-family: Verdana, Geneva, Tahoma, sans-serif; background-color: #E9ECFA; padding: 5px; border-radius: 5px; border: none;" required value="{{ transaction.week|date:'Y-m-d' }}">
    {% endblock %}

    {% block primOver %} {% endblock %}
    <div>
        <label class="radio">
            <span class="savings-label">
                <label>
                    <input type="radio" name={% block toggleName1 %}"transaction_type"{% endblock %} value="off" {% if not is_negative %} checked {% endif %}>
                    Savings
                </label>
             
                <label>
                    <input type="radio" name={% block toggleName2 %}"transaction_type"{% endblock %} value="on" {% if is_negative %} checked {% endif %}>
                    Spendings
                </label>
            </span>
        </label>
    </div>

    <button type="button" {% block back %}onclick="window.location.href='{% url 'view_transactions' %}'"{% endblock %}  
        style="background-color: #5B5FC5;
        background-color: #ffffff;
        border: 2px solid #5B5FC5;
        color: #5B5FC5;
        padding: 10px 20px;
        border-radius: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        cursor: pointer;
        margin-right: 10px;">Cancel</button>
    <button type="submit" style="background-color: #5B5FC5;
        color: #ffffff;
        border: none;
        border: 2px solid #5B5FC5;
        padding: 10px 20px;
        max-width: fit-content;
        border-radius: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        cursor: pointer;">Save</button>
</form>
</div>

{% endblock %}

{% block messages %} {% endblock %}
