{% extends "base.html" %}


{% block content %}
{% comment %} {% if user.is_authenticated %} {% endcomment %}

{% comment %} code below {% endcomment %}

<p>form</p>

<p><a href="{% url 'home' %}">home</a></p>

<div class="container container2" id="contact-form" style="width: 80%">
    <form target="_blank" action="https://formsubmit.co/katelynchen122132@gmail.com" method="POST">
        <p style="font-size: 1.2em; font-weight: 530">We would love to hear from you! We welcome any feedback from our users and love hearing from you. We will get back to you as soon as possible.</p>

        <label for="email" id="contact-title">Email</label>
        <input type="email" name="email" class="form-control" id="fname" name="firstname" placeholder="example@email.com" required>

        <label for="fname" id="contact-title">First Name</label>
        <input type="text" class="form-control" id="fname" name="firstname" placeholder="" required>
    
        <label for="lname" id="contact-title">Last Name</label>
        <input type="text" class="form-control" id="lname" name="lastname" placeholder="">
        
        <label for="subject" id="contact-title">Message</label>
        <textarea type="email" name="subject" class="form-control" id="subject" placeholder="" style="height:200px" required></textarea>

        <input type="hidden" name="_autoresponse" value="Thank you for submitting a contact us form for Budget Royale! We will get back to you as soon as we can.">

        <input type="hidden" name="_subject" value="Budget Royale Contact Form Submission">

        <input type="hidden" name="_url" value="http://budgetroyale.tech/form/">

        <!--Route back to the home page or wherever after the user submits the form-->
        <!--<input type="hidden" name="_next" value="https://yourdomain.co/thanks.html">-->
    
        <input type="submit" value="Submit">
    
    </form>
</div>

{% comment %} code above {% endcomment %}

{% comment %} {% else %}
<p>You are not logged in</p>
<p><a href="{% url 'password_reset' %}">Password Reset</a></p>
<p><a href="{% url 'login' %}">Log In</a></p>
<p><a href="{% url 'signup' %}">Sign Up</a></p>
{% endif %} {% endcomment %}
{% endblock %}