{% extends "base.html" %} 

{% block content %}

  <h2 class="group-header-settings">Group: {{ group.name }}</h2>
  <h2 class="group-members-settings">Group Members:</h2>


  <div class="table-container" style="margin: 5px">
    <table class="styled-table">
        <tr>
            <th>Member</th>
            <th>Role</th>
            <th>Options</th>
        </tr>
        {% for member in members %}
            <tr>
                <th>{{ member.username }}</th>
                  {% if admin == user %}

                  
                    {% if member != user %}
                    <th>
                      Member
                    </th>

                      <th>
                      <form method="POST" action="{% url 'promote_to_admin' userToPromote=member.id %}">
                        {% csrf_token %}
                            <button type="submit">Set Admin</button>
                      </form>
                      </th>
                    
                    {% else %}
                    <th>
                      Admin
                    </th>
                      <th>

                      </th>
                    {% endif %}



                  {% else %}
                    {% if member == admin %}
                    <th>
                      Admin
                    </th>
                      <th>

                      </th>
                    {% else %}
                      <th>
                        Member
                      </th>
                        <th>

                        </th>
                    {% endif %}



                  {% endif %}

            </tr>
        {% endfor %}
    </table>
  </div>


  {% if user != admin %}
    <form style="display: flex; justify-content: center;" action="{% url 'leave_group' %}" method="post">
      {% csrf_token %}
    <button class="group-settings-button" type="submit">Leave Group</button>
  {% else %}
    <form id="delete-group-form" style="display: flex; justify-content: center;" action="{% url 'delete_group' group.id %}" method="post">
      {% csrf_token %}
      <button type="button" class="group-settings-button" onclick="confirmDelete()">Delete Group</button>
    </form>
  {% endif %}
  
{% block messages %}
  {% if messages %}
    <script>
      // JavaScript to show alert box with messages
      window.onload = function() {
        alert("{% for message in messages %}{{ message }}\n{% endfor %}");
      };
    </script>
  {% endif %}
{% endblock %}

<script>
  function confirmDelete() {
    if (confirm("Are you sure you want to delete this group?")) {
      document.getElementById("delete-group-form").submit();
    }
  }
</script>
  
{% comment %} {% else %}
  <p>Not admin group</p>
  {% comment %} <p>{{  }}</p>
{% endif %} {% endcomment %}

{% endblock %}