{% extends "base.html" %} 

{% block content %}

<p class="header">group goals!</p>
<p><a href="{% url 'create_group_goal' %}">Create Group Goal</a></p>
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>

hello
{% for goal in goals %}
  <div>
    name: {{ goal.goal_name }}, Primary: {{ goal.is_primary }}, is_spending: {{ goal.is_primary }}
  </div>
{% endfor%}


{% if error_message %}
<script>
  alert('{{ error_message }}');
</script>
{% endif %}

{% endblock %}
