{% extends "base.html" %} 

{% block content %}

<p class="header">Group Settings!</p>
<p><a href="{% url 'create_data' %}">Password Change</a></p>
<p><a href="{% url 'view_transactions' %}">Transactions</a></p>
<p><a href="{% url 'create_data' %}">Create Data</a></p>
<p><a href="{% url 'form' %}">Form</a></p>
<p><a href="{% url 'create_group_goal' %}">Group Goals</a></p>
<p><a href="{% url 'groups' %}">Groups</a></p>

{% comment %} {% if user_groups_info.is_admin %} {% endcomment %}
  <h2>Your Groups:</h2>
  {% for user_group_info in user_groups_info %}
    <div>
      <p>{{ user_group_info.group.name }}</p>
      {% if not user_group_info.is_admin %}
        <form action="{% url 'leave_group' %}" method="post">
        {% csrf_token %}
        <button type="submit">Leave Group</button>
        </form>
        {% for member in members %}
        <div>
          {{ member.username }} 
          {% if member == admin %}
            ADMIN
          {% endif %}
          {% if member == user %}
            SELF
          {% endif %}
        </div>
      {% endfor %}
      {% else %}
        {% comment %} Admin {% endcomment %}
        <form action="{% url 'delete_group' user_group_info.group.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete Group</button>
        </form>
        {% for member in members %}
          <div>
            {% if member != admin %}
              {{ member.username }} <button>Promote to admin</button>
            {% else %}
              {{ member.username }} SELF
            {% endif %}
          </div>
        {% endfor %}
        {% for mem in members %}
          {{mem.usernmame}}
        {% endfor %}

      {% endif %}
    </div>
  {% endfor %}



  
{% comment %} {% else %}
  <p>Not admin group</p>
  {% comment %} <p>{{  }}</p>
  
{% endif %} {% endcomment %}

{% endblock %}