{% extends "base.html" %} 

{% block content %}

<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <h1 style="margin-left: 10px; text-align: center"> {{user.username|title}}'s Dashboard</h1>

  <div class="button-container">
    <button onclick="window.location.href='{% url 'view_transactions' %}'">View Transactions</button>
    <button onclick="window.location.href='{% url 'view_personal_goals' %}'">View Personal Goals</button>
  </div>

  <div class="date-container" style="margin-top: 20px">
    <div class="date-label">
        <p>From</p>
    </div>
    <div class="date-input-container">
        <input type="date" id="start_date" name="start_date" class="date-input" required>
    </div>
    <div class="date-label">
        <p>to</p>
    </div>
    <div class="date-input-container">
        <input type="date" id="end_date" name="end_date" class="date-input" required>
    </div>
    <div>
        <button onclick="submitDates()">Submit</button>
    </div>
  </div>

  <div class="container-dashboard-small">
    <div class="box-dashboard-small">
        <p class="dashboard-small-header">Streak</p>
    </div>
    <div class="box-dashboard-small">
        <p class="dashboard-small-header">Expenses Total</p>
        <p class="dashboard-small-text" id="expenses_total"> {{negative_sum}} </p>
    </div>
    <div class="box-dashboard-small">
        <p class="dashboard-small-header">Income Total</p>
        <p class="dashboard-small-text" id="income_total"> {{positive_sum}} </p>
    </div>
  </div>

  <div class="container-line">
    <div class="line_chart">
        {% if screen_width > 500 %}
            <h2 style="text-align: center">Income Over Time</h2>
            <canvas id="incomeLineChart" width="800" height="400"></canvas>
        {% else %}
            <h2 style="text-align: center">Income Over Time</h2>
            <canvas id="incomeLineChart" width="80%", height="70%"></canvas>
        {% endif %}
    </div>
  </div> 

  <div class="container-line">
    <div class="line_chart">
        {% if screen_width > 500 %}
            <h2 style="text-align: center">Expenses Over Time</h2>
            <canvas id="expensesLineChart" width="800" height="400"></canvas>
        {% else %}
            <h2 style="text-align: center">Expenses Over Time</h2>
            <canvas id="expensesLineChart" width="80%", height="70%"></canvas>
        {% endif %}
    </div>
  </div> 
  
  <div class="container-line">
    <div class="pie_chart">
      <h2 style="text-align: center">Expenses Breakdown</h2>
      <canvas id="expensesChart" width="400" height="400"></canvas>
    </div>
    <div class="pie_chart">
      <h2 style="text-align: center">Income Breakdown</h2>
      <canvas id="incomeChart" width="400" height="400"></canvas>
    </div>
  </div>

  <script>
      var myChart;
      var myChart2;
      var myLineChart;
      var myLineChart2;
      fetch('/generate_expenses_pie_chart/')
          .then(response => response.json())
          .then(data => {
              var ctx = document.getElementById('expensesChart').getContext('2d');
              myChart = new Chart(ctx, {
                  type: 'pie',
                  data: {
                      labels: data.labels,
                      datasets: [{
                          label: 'Spending by Category',
                          data: data.data,
                          backgroundColor: [
                              'rgba(255, 99, 132, 0.6)',
                              'rgba(54, 162, 235, 0.6)',
                              'rgba(255, 206, 86, 0.6)',
                              'rgba(75, 192, 192, 0.6)',
                              'rgba(153, 102, 255, 0.6)',
                              'rgba(255, 159, 64, 0.6)',
                              'rgba(1, 50, 32, 0.6)',
                              'rgba(144, 238, 144, 0.6)',
                              'rgba(11, 106, 161, 0.6)'
                          ],
                          borderColor: [
                              'rgba(255, 99, 132, 1)',
                              'rgba(54, 162, 235, 1)',
                              'rgba(255, 206, 86, 1)',
                              'rgba(75, 192, 192, 1)',
                              'rgba(153, 102, 255, 1)',
                              'rgba(255, 159, 64, 1)',
                              'rgba(1, 50, 32, 0.6)',
                              'rgba(144, 238, 144, 0.6)',
                              'rgba(11, 106, 161, 0.6)'
                          ],
                          borderWidth: 1
                      }]
                  },
                  options: {
                      // Customize options here
                  }
              });
          });

        fetch('/generate_income_pie_chart/')
        .then(response => response.json())
        .then(data => {
            var ctx = document.getElementById('incomeChart').getContext('2d');
            myChart2 = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: 'Income by Category',
                        data: data.data,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.6)',
                            'rgba(54, 162, 235, 0.6)',
                            'rgba(255, 206, 86, 0.6)',
                            'rgba(75, 192, 192, 0.6)',
                            'rgba(153, 102, 255, 0.6)',
                            'rgba(255, 159, 64, 0.6)',
                            'rgba(1, 50, 32, 0.6)',
                            'rgba(144, 238, 144, 0.6)',
                            'rgba(11, 106, 161, 0.6)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(1, 50, 32, 0.6)',
                            'rgba(144, 238, 144, 0.6)',
                            'rgba(11, 106, 161, 0.6)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    // Customize options here
                }
            });
        });

        fetch('/generate_income_line_chart/')
        .then(response => response.json())
        .then(data => {
            var ctx = document.getElementById('incomeLineChart').getContext('2d');
            myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: 'Income',
                        data: data.data,
                        borderColor: '#219ebc',
                        borderWidth: 2,
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Date'
                            },
                            type: 'time',
                            time: {
                                unit: 'day'
                            },
                        }],
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Amount'
                            },
                            ticks: {
                                suggestedMin: 0
                            }
                        }]
                    },
                }
            });
        });

        fetch('/generate_expenses_line_chart/')
        .then(response => response.json())
        .then(data => {
            var ctx = document.getElementById('expensesLineChart').getContext('2d');
            myLineChart2 = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: 'Expense',
                        data: data.data,
                        borderColor: '#D98C26',
                        borderWidth: 2,
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Date'
                            },
                            type: 'time',
                            time: {
                                unit: 'day'
                            },
                        }],
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Amount'
                            },
                            ticks: {
                                suggestedMin: 0
                            }
                        }]
                    },
                }
            });
        });


        function submitDates() {
            var startDate = document.getElementById('start_date').value;
            var endDate = document.getElementById('end_date').value;

            var currentDate = new Date();
            var currentDateString = currentDate.toISOString().split('T')[0];
            var startDateObj = new Date(startDate);
            var endDateObj = new Date(endDate);

            if (startDateObj > endDateObj) {
                alert("Start date cannot be later than end date.");
                return;
            }

            if (startDateObj > currentDate) {
                alert("Start date is past the current date.");
                return;
            }

            fetch(`/update_home_view/?start_date=${startDate}&end_date=${endDate}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                document.querySelector('.box-dashboard-small:nth-child(3) .dashboard-small-text').textContent = data.positive_sum;
                document.querySelector('.box-dashboard-small:nth-child(2) .dashboard-small-text').textContent = data.negative_sum;
            })
            .catch(error => console.error('Error fetching data:', error));

            fetch(`/generate_expenses_pie_chart/?start_date=${startDate}&end_date=${endDate}`)
            .then(response => response.json())
            .then(data => {
                var ctx = document.getElementById('expensesChart').getContext('2d');
                updateData(myChart, data.labels, data.data);
            });
        
            fetch(`/generate_income_pie_chart/?start_date=${startDate}&end_date=${endDate}`)
            .then(response => response.json())
            .then(data => {
                var ctx = document.getElementById('incomeChart').getContext('2d');
                updateData(myChart2, data.labels, data.data);
            });

            fetch(`/generate_income_line_chart/?start_date=${startDate}&end_date=${endDate}`)
            .then(response => response.json())
            .then(data => {
                var ctx = document.getElementById('incomeLineChart').getContext('2d');
                updateData(myLineChart, data.labels, data.data);
            });

            fetch(`/generate_expenses_line_chart/?start_date=${startDate}&end_date=${endDate}`)
            .then(response => response.json())
            .then(data => {
                var ctx = document.getElementById('expensesLineChart').getContext('2d');
                updateData(myLineChart2, data.labels, data.data);
            });
        }
        
        function updateData(chart, label, data) {
            chart.data.labels = label
            chart.data.datasets.forEach((dataset) => {
                dataset.data = data;
            });
            chart.update();
        }
  </script>
  <br></br>
</body>

{% endblock %}
