{% extends "base.html" %} 

{% block content %}
{% load static %}


<div class="button-container">
    <button onclick="window.location.href='{% url 'groups' %}'">Join Group</button>
    <button onclick="window.location.href='{% url 'create_groups' %}'">Create Group</button>
</div>

<form method="POST" action="{% block action %}{% url 'join_specific_group_action' group_id=group.id %}{% endblock %}">
    {% csrf_token %}
    <div style="margin: 0 auto;
    min-width: 300px;
    max-width: 350px;
    height: fit-content;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 5px 10px #5B5FC5, 5px 0px 10px #5B5FC5;
    margin-top: 50px;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 30px;">


        {% if not public %}
        <label for="password" style="font-size: medium; font-family: Verdana, Geneva, Tahoma, sans-serif;">Enter password for Group:</label>
        {% else %}
        <label for="password" style="font-size: medium; font-family: Verdana, Geneva, Tahoma, sans-serif;">Hit join to join the group:</label>
        {% endif %}
        <div>
          <label style="font-size: medium; font-family: Verdana, Geneva, Tahoma, sans-serif;">
            {{group.name}}
          </label>
        </div>
        <p>Admin: {{group.admin_user.username}}</p>

        {% if not public %}
          <div>
            <input type="password" name="password" placeholder="Password" class="create-group-pwfield" style="margin-right: 80px; margin-left: 80px; margin-top: 25px; margin-bottom: 25px;" required>
          </div>
        {% else %}

        {% endif %}

        <button type="submit" style="background-color: #5B5FC5; /* Blue button color */
      color: #ffffff; /* White button text color */
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      cursor: pointer;"> Join! </button>
    </div>
</form>

{% block messages %}
  {% if messages %}
    <script>
      // JavaScript to show alert box with messages
      window.onload = function() {
        alert("{% for message in messages %}{{ message }}\n{% endfor %}");
      };
    </script>
  {% endif %}
{% endblock %}

{% endblock %}
