{% extends "base.html" %} 

{% block content %}
{% load static %}



<div class="button-container">
    <button onclick="window.location.href='{% url 'home' %}'">Home</button>
    <button onclick="window.location.href='{% url 'create_groups' %}'">Create Group</button>
</div>

<form method="POST" action="{% url 'groups' %}" class="show-inline">
  {% csrf_token %}
  <input id="search_input" name="search_input" class="join-group-search-bar" placeholder="Search for a group">
  <button type="submit" class="search-btn">Search</button>
</form>

<div class="join_group_container">
{% for group in groups %}
  <div class="join_group_box">
    <div class="join_group_text">
      <p class="group_name_label">{{ group.name }}</p>
      <p class="group_admin_label">Admin: {{ group.admin_user.username }}</p>
      {% comment %} <a class="join_group_btn" href="{% url 'join_group_action' group_id=group.id %}">Join!</a> {% endcomment %}
      {% comment %} <button class="join_group_btn" onclick="window.location.href='{% url 'join_group_action' group_id=group.id %}'">Join Group</button> {% endcomment %}
      <div class="button-container" style="justify-content: center;">
        <button onclick="window.location.href='{% url 'join_group_action' group_id=group.id %}'">Join Group</button>
    </div>
    </div>
  </div>

{% endfor %}
</div>

{% block messages %}
  {% if messages %}
    <script>
      // JavaScript to show alert box with messages
      window.onload = function() {
        alert("{% for message in messages %}{{ message }}\n{% endfor %}");
      };
    </script>
  {% endif %}
{% endblock %}

{% endblock %}
