{% extends "base.html" %} 

{% block content %}

<p class="header">Leaderboard!</p>
<p><a href="{% url 'create_data' %}">password change</a></p>
<p><a href="{% url 'view_transactions' %}">transactions</a></p>
<p><a href="{% url 'create_data' %}">create_data</a></p>
<p><a href="{% url 'form' %}">form</a></p>
<p><a href="{% url 'create_data' %}">personal goals</a></p>
<p><a href="{% url 'groups' %}">Groups</a></p>
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>
<div style="text-align: center;">
  <h1>Leaderboard</h1>
</div>
<div id="leaderboard" style="max-width: 500px; margin-left: 20px; margin-right: 20px; margin: 0 auto;">
    {% for player in leaderboard %}
        <div class="leaderboard-entry">
            <span class="player-name" style="color: white;">{{ player.name }}</span>
            <span class="player-score" style="color: white;">{{ player.score }}</span>
        </div>
    {% endfor %}
</div>

<style>
    /* Style for leaderboard entries */
    .leaderboard-entry {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px; /* Add bottom margin between entries */
        padding: 10px;
        border-radius: 5px;
        border: 2px solid white;
        background-color: #775BC5;
  
    }
  
</style>

{% endblock %}