{% extends "base.html" %} 

{% block content %}
{% load static %}
<div style="text-align: center;">
  <h1>Leaderboard</h1>
</div>
<div id="leaderboard" style="max-width: 500px; margin-left: 20px; margin-right: 20px; margin: 0 auto;">
    {% for player in leaderboard %}
        <div class="leaderboard-entry">
            {% if forloop.first %} {# Check if it's the first player #}
                <img src="{% static 'images/star.png' %}" alt="Star" class="icon"> {# Display a star image for the first player #}
            {% elif forloop.last %} {# Check if it's the last player #}
                <img src="{% static 'images/L.png' %}" alt="L" class="icon"> {# Display 'L' image for the last player #}
            {% endif %}
            <span class="player-name" style="color: white;">{{ player.name }}</span>
            <span class="player-score" style="color: white;">{{ player.score }}</span>
        </div>
    {% endfor %}
</div>

<style>
    /* Style for leaderboard entries */
    .leaderboard-entry {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px; /* Add bottom margin between entries */
        padding: 10px;
        border-radius: 5px;
        border: 2px solid white;
        background-color: #775BC5;
        height: 50px;
    }
    /* Style for the icon */
    .icon {
        width: auto; /* Set width of the icon */
        height: 30px; /* Maintain aspect ratio */
        margin-right: 10px; /* Add space between icon and player name */
    }
</style>

{% endblock %}