{% extends "base.html" %} 

{% block content %}

<p class="header">Hi {{ user.username }}!</p>
<p><a href="{% url 'create_data' %}">password change</a></p>
<p><a href="{% url 'view_transactions' %}">transactions</a></p>
<p><a href="{% url 'create_data' %}">create_data</a></p>
<p><a href="{% url 'form' %}">form</a></p>
<p><a href="{% url 'create_data' %}">personal goals</a></p>
<p><a href="{% url 'groups' %}">Groups</a></p>
<p style="font-size:medium; font-family: Verdana, Geneva, Tahoma, sans-serif; color: #5B5FC5;">Delete your account</p>
<p>
  <form id="deleteForm" method="post" action="{% url 'delete_account' %}">
    {% csrf_token %}
    
    <input style="width:max-content;" type="text" id="username" name="username" placeholder="Enter your username">
    <div>
    <button type="submit" onclick="confirmDelete()" style="background-color: #5B5FC5; /* Blue button color */
    color: #ffffff; /* White button text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;">Delete Account</button>
  </div>
  </form>
</p>
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit" style="background-color: #ffffff; /* Blue button color */
  color: #5B5FC5; /* White button text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;">Log Out</button>
</form>

<script>
  function confirmDelete() {
    // Display a confirmation dialog
    var isConfirmed = confirm("Are you sure you want to delete your account?");
    
    // If user confirms, proceed with deletion
    if (isConfirmed) {
        // Redirect to the delete account URL
        window.location.href = "{% url 'delete_account' %}";
    } else {
        // Do nothing if user cancels
        return false;
    }
}
</script>

{% endblock %}
