{% extends "base.html" %}

{% block content %}
<h2 style="text-align: center; margin-bottom: 15px;">Transactions</h2>
<div class="button-container">
    <button onclick="window.location.href='{% url 'home' %}'">Home</button>
    <button onclick="window.location.href='{% url 'create_transactions' %}'">Create</button>
</div>

<div class="table-container">
    <table class="styled-table">
        <tr>
            <th>Week</th>
            <th>Transaction</th>
            <th>Amount</th>
            <th>Category</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <th>{{ transaction.week }}</th>
                <th>{{ transaction.name }}</th>
                <th>{{ transaction.amount }}</th>
                <th class="category-cell" style="display: flex; justify-content: space-between;">
                    <span>{{ transaction.category.category_id }}</span>
                    <div>
                        <i class="fas fa-pencil-alt fa-fw my-own-icon" title="Update" onclick="editTransaction({{ transaction.id }})"></i>
                        <i class="fas fa-trash-alt delete-transaction" data-transaction-id="{{ transaction.id }}" data-transaction-name="{{ transaction.name }}"></i>
                    </div>
                </th>
            </tr>
        {% endfor %}
    </table>
</div>
<div class="button-single" id="transactions-for-week-button">
    <button onclick="window.location.href='{% url 'view_transactions' %}?week=True'; toggleButtons();">Transactions for the Week</button>
</div>

<br></br>

<script>
    document.querySelectorAll('.delete-transaction').forEach(item => {
        item.addEventListener('click', event => {
            const transactionId = event.target.dataset.transactionId;
            const transactionName = event.target.dataset.transactionName;
            
            // Prompt user for confirmation
            const isConfirmed = confirm(`Are you sure you want to delete ${transactionName} transaction?`);
            if (!isConfirmed) {
                return; // Abort deletion if user cancels
            }
            
            fetch(`/delete_transaction/${transactionId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    // Remove the transaction row from the table
                    event.target.closest('tr').remove();
                } else {
                    console.error('Error deleting transaction:', data.error);
                }
            })
            .catch(error => {
                console.error('Error deleting transaction:', error);
            });
        });
    });
</script>

<script>
    function editTransaction(transactionId) {
        window.location.href = `/edit_transaction/${transactionId}/`;
    }    
</script>

{% endblock %}