{% extends "base.html" %}

{% block content %}
<h2 style="text-align: center; margin-bottom: 15px;">Transactions</h2>
<div class="button-container">
    <button onclick="window.location.href='{% url 'home' %}'">Home</button>
    <button onclick="window.location.href='{% url 'create_transactions' %}'">Create</button>
</div>

<div class="dropdown2" data-control="checkbox-dropdown">
  <label class="dropdown-label">Filter by Category</label>
  
  <div class="dropdown-list">
    <button type="button" onclick="submitForm()">Submit</button>
    <a href="#" data-toggle="check-all" class="dropdown-option">
      Check All  
    </a>
    
    <form id="category-form" method="GET" action="{% url 'view_transactions' %}">
      {% for category in categories %}
      <label class="dropdown-option">
        <input type="checkbox" name="selected_categories" value="{{ category.category_id }}" {% if category.category_id in selected_categories %}checked{% endif %}>
          {{ category.category_id }}
      </label>
      {% endfor %}
  </form>
  
         
  </div>
</div>

<div class="date-container" style="margin-top: 20px">
  <div class="date-label">
      <p>From</p>
  </div>
  <div class="date-input-container">
      <input type="date" id="start_date" name="start_date" class="date-input" value="{{ start_date }}" required>
  </div>
  <div class="date-label">
      <p>to</p>
  </div>
  <div class="date-input-container">
      <input type="date" id="end_date" name="end_date" class="date-input" value="{{ end_date }}" required>
  </div>
  <div>
      <button onclick="filterTransactions()">Submit</button>
  </div>
</div>


<div class="table-container">
    <table class="styled-table">
        <tr>
            <th>Week</th>
            <th>Transaction</th>
            <th>Amount</th>
            <th>Category</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <th>{{ transaction.week }}</th>
                <th>{{ transaction.name }}</th>
                <th>{{ transaction.amount }}</th>
                <th class="category-cell" style="display: flex; justify-content: space-between;">
                    <span>{{ transaction.category.category_id }}</span>
                    <div>
                        <i class="fas fa-pencil-alt fa-fw my-own-icon" title="Update" onclick="editTransaction({{ transaction.id }})"></i>
                        <i class="fas fa-trash-alt delete-transaction" data-transaction-id="{{ transaction.id }}" data-transaction-name="{{ transaction.name }}"></i>
                    </div>
                </th>
            </tr>
        {% endfor %}
    </table>
</div>
<div class="button-single" id="transactions-for-week-button" style="margin-bottom: 40px;">
    <button onclick="clearSessionVariables()">View all Transactions</button>
</div>

<br></br>

<script>
    document.querySelectorAll('.delete-transaction').forEach(item => {
        item.addEventListener('click', event => {
            const transactionId = event.target.dataset.transactionId;
            const transactionName = event.target.dataset.transactionName;
            
            // Prompt user for confirmation
            const isConfirmed = confirm(`Are you sure you want to delete ${transactionName} transaction?`);
            if (!isConfirmed) {
                return; // Abort deletion if user cancels
            }
            
            fetch(`/delete_transaction/${transactionId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    // Remove the transaction row from the table
                    event.target.closest('tr').remove();
                } else {
                    console.error('Error deleting transaction:', data.error);
                }
            })
            .catch(error => {
                console.error('Error deleting transaction:', error);
            });
        });
    });
</script>

<script>
    function editTransaction(transactionId) {
        window.location.href = `/edit_transaction/${transactionId}/`;
    }
    function clearSessionVariables() {
        window.location.href = `{% url 'clear_session_filter' %}`;
    }
    // Functionality for sending dates from filter transactions
    function filterTransactions() {
        const startDate = document.getElementById('start_date').value;
        const endDate = document.getElementById('end_date').value;

        const startDateObj = new Date(startDate);
        const endDateObj = new Date(endDate);
        const currentDate = new Date();
        const currentDateString = currentDate.toISOString().split('T')[0];
        if (startDateObj > endDateObj) {
          alert("Start date cannot be later than end date.");
          return;
        }
        if (startDateObj > currentDate) {
          alert("Start date is past the current date.");
          return;
        }

        const url = `{% url 'add_session_filter' %}?start_date=${startDate}&end_date=${endDate}&view_all=True`;

        window.location.href = url;
    }

    // functionality for when a category is selected/deselected
    function submitForm() {
      const checkboxes = document.querySelectorAll('#category-form input[type="checkbox"]');
      let selected_categories = [];
      checkboxes.forEach(checkbox => {
          if (checkbox.checked) {
              selected_categories.push(checkbox.value);
          }
      });
      selected_categories = selected_categories.join(',');
      const url = `{% url 'add_session_filter' %}?selected_categories=${selected_categories}&view_all=True`;
      window.location.href = url;
  }
  

    // Functionality for filter by categories
    (function($) {
        var CheckboxDropdown = function(el) {
          var _this = this;
          this.isOpen = false;
          this.areAllChecked = false;
          this.$el = $(el);
          this.$label = this.$el.find('.dropdown-label');
          this.$checkAll = this.$el.find('[data-toggle="check-all"]').first();
          this.$inputs = this.$el.find('[type="checkbox"]');
          
          this.onCheckBox();
          
          this.$label.on('click', function(e) {
            e.preventDefault();
            _this.toggleOpen();
          });
          
          this.$checkAll.on('click', function(e) {
            e.preventDefault();
            _this.onCheckAll();
          });
          
          this.$inputs.on('change', function(e) {
            _this.onCheckBox();
          });
        };
        
        CheckboxDropdown.prototype.onCheckBox = function() {
          this.updateStatus();
        };
        
        CheckboxDropdown.prototype.updateStatus = function() {
          var checked = this.$el.find(':checked');
          
          this.areAllChecked = false;
          this.$checkAll.html('Check All');
          
          if(checked.length <= 0) {
            this.$label.html('Filter by Category');
          }
          else if(checked.length === 1) {
            this.$label.html(checked.parent('label').text());
          }
          else if(checked.length === this.$inputs.length) {
            this.$label.html('Filter by Category');
            this.areAllChecked = true;
            this.$checkAll.html('Uncheck All');
          }
          else {
            this.$label.html(checked.length + ' Selected');
          }
        };
        
        CheckboxDropdown.prototype.onCheckAll = function(checkAll) {
          if(!this.areAllChecked || checkAll) {
            this.areAllChecked = true;
            this.$checkAll.html('Uncheck All');
            this.$inputs.prop('checked', true);
          }
          else {
            this.areAllChecked = false;
            this.$checkAll.html('Check All');
            this.$inputs.prop('checked', false);
          }
          
          this.updateStatus();
        };
        
        CheckboxDropdown.prototype.toggleOpen = function(forceOpen) {
          var _this = this;
          
          if(!this.isOpen || forceOpen) {
             this.isOpen = true;
             this.$el.addClass('on');
            $(document).on('click', function(e) {
              if(!$(e.target).closest('[data-control]').length) {
               _this.toggleOpen();
              }
            });
          }
          else {
            this.isOpen = false;
            this.$el.removeClass('on');
            $(document).off('click');
          }
        };
        
        var checkboxesDropdowns = document.querySelectorAll('[data-control="checkbox-dropdown"]');
        for(var i = 0, length = checkboxesDropdowns.length; i < length; i++) {
          var dropdown = new CheckboxDropdown(checkboxesDropdowns[i]);
          //dropdown.onCheckAll(true);
        }   
      })(jQuery);
</script>

{% endblock %}