{% extends "base.html" %}

{% block content %}
<p>transactions</p>
<p><a href="{% url 'home' %}">home</a></p>
<p><a href="{% url 'create_transactions' %}">create transaction</a></p>
<h2>Transactions</h2>
<div class="table-container">
    <table class="styled-table">
        <tr>
            <th>Week</th>
            <th>Transaction</th>
            <th>Amount</th>
            <th>Category</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <th>{{ transaction.week }}</th>
                <th>{{ transaction.name }}</th>
                <th>{{ transaction.amount }}</th>
                <th style="display: flex; justify-content: space-between;">
                    <span>{{ transaction.category.category_id }}</span>
                    <div>
                        <i class="fas fa-pencil-alt fa-fw my-own-icon" title="Update"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </th>
            </tr>
        {% endfor %}
    </table>
</div>
<ul>
</ul>
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'create_transactions' %}">Create Transaction</a>

{% endblock %}