{% block overall %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/switch.css' %}">
<style>
    .radio label {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: inline-block; /* Ensures each label is on its line */
        margin-right: 10%; /* Adjust the margin between labels */
    }
</style>


<label class="radio">

    <span class="overall-label">
        <label>
            <input type="checkbox" name="{{ name }}" value="on" id="over">
            Overall
        </label>
     
    </span>


</label>
{% endblock %}