{% block toggle_component %}
{% load static %}
<link rel="stylesheet">

<div class="button-group">
    <button class="spending-button active" onclick="selectOption('spending')">Spending</button>
    <button class="savings-button" onclick="selectOption('savings')">Savings</button>
</div>

<style>
    .button-group {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-group button {
        padding: 10px 20px;
        margin: 2%;
        font-size: 16px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background-color: #b9c3f1;
        color: #fff;
    }

    .button-group button.active {
        background-color: #5B5FC5;
    }
</style>

<script>
    function selectOption(option) {
        var buttons = document.querySelectorAll('.button-group button');
        buttons.forEach(function(button) {
            button.classList.remove('active');
        });
        document.querySelector('.' + option + '-button').classList.add('active');
    }
</script>
{% endblock %}