{% block toggle_component %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/switch.css' %}">

<label class="switch">
    <span class="savings-label">Savings</span> <br>
    <span class="slider-container">
      <input type="checkbox">
      <span class="slider round"></span>
    </span>
  </label>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
        var switchInput = document.querySelector('.switch input');
        var spendingLabel = document.querySelector('.savings-label');
        
        switchInput.addEventListener('change', function () {
            if (this.checked) {
                spendingLabel.textContent = 'Spendings'; // Change text to 'Savings' if checked
            } else {
                spendingLabel.textContent = 'Savings'; // Change text to 'Spendings' if unchecked
            }
        });
    });
    
</script>
{% endblock %}