{% block radio_component %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/switch.css' %}">
<label class="radio">
    <span class="savings-label">
        <label>
            <input type="radio" name="{{ name }}" value="savings" checked>
            Savings
        </label>
        <label>
            <input type="radio" name="{{ name }}" value="spendings">
            Spendings
        </label>
    </span>
</label>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var radioInputs = document.querySelectorAll('input[name="{{ name }}"]');
        
        radioInputs.forEach(function(input) {
            input.addEventListener('change', function() {
                var selectedValue = this.value;
                // Now, you can send the selectedValue to the backend as needed
                console.log(selectedValue); // Just for demonstration
                // Add AJAX or other backend communication code here
            });
        });
    });
</script>
{% endblock %}
