.header {
    background-color: black;
    font-size: large;
    color: white;
}

html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
    width: 100%;
    background-color: #CED1E1;
  }

  body::-webkit-scrollbar{
    display: none;
  }

p {
    max-width: 100%;
}
  
  /* Starts styling the order forms */
  
  
  /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea {
      width: 100%; /* Full width */
      padding: 12px; /* Some padding */ 
      border: 1px solid #ccc; /* Gray border */
      border-radius: 4px; /* Rounded borders */
      box-sizing: border-box; /* Make sure that padding and width stays in place */
      margin-top: 6px; /* Add a top margin */
      margin-bottom: 16px; /* Bottom margin */
      resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }
  
  /* Style inputs with type="email", select elements and textareas */
  input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
    
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #5B5FC5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #54578d;
  }
  
  /* Add a background color and some padding around the form */
  .container2 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px;
    margin: 0 auto;
    max-width: 90%;     
  }

    #contact-form {
      margin-bottom: 15px;
      font-weight: 500;
      font-family: 'Roboto', sans-serif;
      width: 100%;
      margin-top: 20px;
    }
  
  /* Ends styling for the order forms */