
.header {
    background-color: black;
    font-size: large;
    color: white;
}
html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
    width: 100%;
    background-color: #CED1E1;
  }

  body::-webkit-scrollbar{
    display: none;
  }

p {
    max-width: 100%;
}
  
.set-font {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

  /* Starts styling the order forms */
  
  
  /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea {
      width: 100%; /* Full width */
      padding: 12px; /* Some padding */ 
      border: 1px solid #ccc; /* Gray border */
      border-radius: 4px; /* Rounded borders */
      box-sizing: border-box; /* Make sure that padding and width stays in place */
      margin-top: 6px; /* Add a top margin */
      margin-bottom: 16px; /* Bottom margin */
      resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }
  
  /* Style inputs with type="email", select elements and textareas */
  input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
    
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #5B5FC5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #54578d;
  }
  
  /* Add a background color and some padding around the form */
  .container2 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px;
    margin: 0 auto;
    max-width: 90%;     
  }

    #contact-form {
      margin-bottom: 15px;
      font-weight: 500;
      font-family: 'Roboto', sans-serif;
      width: 100%;
      margin-top: 20px;
    }
  
  /* Ends styling for the order forms */
  /* Start navbar styling */
    
/* .navbar-custom {
  color: #FF0000;
  background-color: #FF0000;
} */
/* bootstrap override */
a.btn-primary:hover {
  text-decoration: none;
  color: white;
}

.navbar-nav li a:hover {
    background-color: #bcbff5;
}

.icon-bar {
  color: white !important;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}

blockquote {
  font-family: Arial;
  background-color: #F8EFBE;
  border-left-color: #F4B514;
}

#contactme {
  background-color: black;
  color: white;
  height: 180px;
}

#navbar {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
}

.top-nav {
  background-color: #671100;
}

.top-nav a {
  color: white;
}

h1.headingStatement {
  font-family: Monospace;
  font-size: 2em;
}
.navbar-custom {
  background-color: #5B5FC5;
  border-radius: 0;
}
.custom-header {
  color: white;
}
.custom-header:hover {
  color: white;
}

.nav-headers {
  color: white;
}

.navbar-nav:focus, 
.navbar-nav .dropdown:hover .nav-headers {
    background-color: #7477d7 !important; /* Force override */
}

.navbar-nav:focus,
.navbar-nav .nav-headers:hover .nav-headers {
    background-color: #7477d7 !important; /* Force override */
    
}
.nav-headers:hover {
  background-color: #7477d7 !important;
  color: white !important; /* Force override */
}
.nav-headers.active {
  color: white !important; 
  background-color: #7477d7 !important; /* Override with desired color */
}
.sub-headers {
  background-color: white;
}
@media screen and (max-width: 767px) {
  .sub-headers {
    background-color: #6367CD !important;
    color: white !important;
  }
  .sub-headers:hover {
    background-color: #7477d7 !important;
  }
}
a.collapse {
  color: white !important;
}

a.nav-headers.active {
  color: white !important; 
  background-color: white;
}

  /* End navbar styling */

/* Start transactions table styling */

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.styled-table {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
}

.styled-table th,
.styled-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Create alternate row colors */
.styled-table tr:nth-child(even) {
  background-color: #fff;
}
.styled-table tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.table-container .styled-table tr:first-child {
  background-color: #e9e8ea;
  font-weight: 800;
}

@media screen and (max-width: 500px) {
  .category-cell {
      flex-direction: column;
  }
}
/* End transactions table styling */

/* styling buttons in transactions */
.button-container {
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
  /*width: 90%;*/
  align-items: center;
  margin-bottom: 15px;
}


.button-container button {
  padding: 10px 20px;
  background-color: #5B5FC5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-single {
  text-align: center;
}

.button-single button {
  padding: 10px 20px;
  background-color: white;
  border: 2px solid #5B5FC5;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.button-container button:hover {
  background-color: #3c40a0;
}

/* end styling button in transactions */

/* functionality for the box */

.box outline_box {
    margin: 0 auto;
    max-width: fit-content;
    height: fit-content;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 5px 10px #5B5FC5, 5px 0px 10px #5B5FC5;
    margin-top: 50px;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.submit_button {
      background-color: #5B5FC5; /* Blue button color */
      color: #ffffff; /* White button text color */
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      cursor: pointer;
}

.pie_chart {
  height: 400px;
  padding: 10px;
  margin-bottom: 30px;
}

@media screen and (max-width: 800px) {
  .container-line {
    display: block;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 801px) {
  .container-line {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.date-input {
  background-color: #E9ECFA;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.date-container {
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}