
.header {
  background-color: black;
  font-size: large;
  color: white;
}
html, body {
  overflow-x: hidden;
}
body {
  position: relative;
  width: 100%;
  background-color: #CED1E1;
}

body::-webkit-scrollbar{
  display: none;
}

p {
  max-width: 100%;
}

.set-font {
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Starts styling the order forms */


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

/* Style inputs with type="email", select elements and textareas */
input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #5B5FC5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #54578d;
}

/* Add a background color and some padding around the form */
.container2 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
  margin: 0 auto;
  max-width: 90%;     
}

  #contact-form {
    margin-bottom: 15px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin-top: 20px;
  }

/* Ends styling for the order forms */
/* Start navbar styling */
  
/* .navbar-custom {
color: #FF0000;
background-color: #FF0000;
} */
/* bootstrap override */
a.btn-primary:hover {
text-decoration: none;
color: white;
}

.navbar-nav li a:hover {
  background-color: #bcbff5;
}

.icon-bar {
color: white !important;
}

.navbar-toggle .icon-bar {
display: block;
width: 22px;
height: 2px;
background-color: #cccccc;
border-radius: 1px;
}

blockquote {
font-family: Arial;
background-color: #F8EFBE;
border-left-color: #F4B514;
}

#contactme {
background-color: black;
color: white;
height: 180px;
}

#navbar {
position: relative;
top: 0px;
left: 0px;
width: 100%;
}

.top-nav {
background-color: #671100;
}

.top-nav a {
color: white;
}

h1.headingStatement {
font-family: Monospace;
font-size: 2em;
}
.navbar-custom {
background-color: #5B5FC5;
border-radius: 0;
}
.custom-header {
color: white;
}
.custom-header:hover {
color: white;
}

.nav-headers {
color: white;
}

.navbar-nav:focus, 
.navbar-nav .dropdown:hover .nav-headers {
  background-color: #7477d7 !important; /* Force override */
}

.navbar-nav:focus,
.navbar-nav .nav-headers:hover .nav-headers {
  background-color: #7477d7 !important; /* Force override */
  
}
.nav-headers:hover {
background-color: #7477d7 !important;
color: white !important; /* Force override */
}
.nav-headers.active {
color: white !important; 
background-color: #7477d7 !important; /* Override with desired color */
}
.sub-headers {
background-color: white;
}
@media screen and (max-width: 767px) {
.sub-headers {
  background-color: #6367CD !important;
  color: white !important;
}
.sub-headers:hover {
  background-color: #7477d7 !important;
}
}
a.collapse {
color: white !important;
}

a.nav-headers.active {
color: white !important; 
background-color: white;
}

/* End navbar styling */

/* Start transactions table styling */

.table-container {
display: flex;
justify-content: center;
align-items: center;
margin: 0;
}

.styled-table {
border-collapse: collapse;
width: 90%;
margin: auto;
}

.styled-table th,
.styled-table td {
padding: 8px;
text-align: left;
border-bottom: 1px solid #ddd;
}

/* Create alternate row colors */
.styled-table tr:nth-child(even) {
background-color: #fff;
}
.styled-table tr:nth-child(odd) {
background-color: #f8f8f8;
}

.table-container .styled-table tr:first-child {
background-color: #e9e8ea;
font-weight: 800;
}

@media screen and (max-width: 500px) {
.category-cell {
    flex-direction: column;
}
}
/* End transactions table styling */

/* styling buttons in transactions */
.button-container {
display: flex;
justify-content: space-between;
margin: 0 5%;
/*width: 90%;*/
align-items: center;
margin-bottom: 15px;
}


.button-container button {
padding: 10px 20px;
background-color: #5B5FC5;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
}

.button-single {
text-align: center;
}

.button-single button {
padding: 10px 20px;
background-color: white;
border: 2px solid #5B5FC5;
color: black;
border-radius: 5px;
cursor: pointer;
margin-top: 15px;
}

.button-container button:hover {
background-color: #3c40a0;
}

/* end styling button in transactions */

/* functionality for the box */

.box outline_box {
  margin: 0 auto;
  max-width: fit-content;
  height: fit-content;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 5px 10px #5B5FC5, 5px 0px 10px #5B5FC5;
  margin-top: 50px;
  text-align: center;
  justify-content: space-around;
  margin-bottom: 30px;
}

.submit_button {
    background-color: #5B5FC5; /* Blue button color */
    color: #ffffff; /* White button text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
.container-line {
  justify-content: center;
  align-items: center;
  display: column;
  width: 100%;
}
.container-dashboard-small {
  display: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
.box-dashboard-small {
  justify-content: center;
  border: 2px solid #a1a5c1;
  border-radius: 10px;
  height: 150px;
  width: 80%;
  text-align: center;
  padding: 5px;
  margin: 10px;
  margin-left: 35px;
  margin-right: 30px;
  margin-bottom: 20px;
  background-color: #e2e3ed;
}
.pie_chart {
  height: 100%;
  width: 90%;
  padding: 10px;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 20px;
  border: 2px solid #a1a5c1;
  border-radius: 10px;
  background-color: #e2e3ed;
}
}
@media screen and (min-width: 801px) {
.container-line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container-dashboard-small {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
.box-dashboard-small {
  border: 2px solid #a1a5c1;
  border-radius: 10px;
  height: 150px;
  width: 230px;
  text-align: center;
  padding: 5px;
  margin: 10px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #e2e3ed;
}
.pie_chart {
  height: 90%;
  width: 400px;
  padding: 10px;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-top: 5px;
  margin-left: 10px;
  border: 2px solid #a1a5c1;
  border-radius: 10px;
  background-color: #e2e3ed;
}
}

.date-input {
background-color: #E9ECFA;
padding: 5px;
border-radius: 5px;
border: none;
}

.date-container {
margin-left: 10px;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 10px;
}

@media screen and (max-width: 450px) {
.date-container {
  flex-direction: column;
}

.date-container > div {
  margin: 5px 0;
}
}

@media screen and (min-width: 451px) {
.date-label {
  margin-right: 10px;
  margin-top: 10px;
}
}

@media screen and (max-width: 450px) {
.date-label {
  margin-bottom: 0;
}
.date-input {
  margin-top: 0;
  margin-bottom: 0;
}
}

.date-input-container {
margin-right: 10px;
}

@media screen and (max-width: 450px) {
.date-input-container {
    margin-top: -12px !important;
}
}

.no-transactions {
font-size: 18px;
}

.button-container-home {
display: flex;
justify-content: space-between;
margin: 0 5%;
/*width: 90%;*/
align-items: center;
margin-bottom: 15px;
}


.button-container-home button {
padding: 10px 20px;
background-color: white;
border: 2px solid #5B5FC5;
color: black;
border-radius: 5px;
cursor: pointer;
margin-top: 15px;
}

/* For category dropdown */
.dropdown2[data-control="checkbox-dropdown"] {
position: relative;
font-size: 14px;
color: #333;
}

.dropdown2[data-control="checkbox-dropdown"] .dropdown-list {
padding: 12px;
background: #fff;
position: absolute;
top: 30px;
left: 2px;
right: 2px;
box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .15);
transform-origin: 50% 0;
transform: scale(1, 0);
transition: transform .15s ease-in-out .15s;
max-height: 66vh;
overflow-y: scroll;
}

.dropdown2[data-control="checkbox-dropdown"] .dropdown-option {
display: block;
padding: 8px 12px;
opacity: 0;
transition: opacity .15s ease-in-out;
}

.dropdown2[data-control="checkbox-dropdown"] .dropdown-label {
display: block;
height: 30px;
background: #fff;
border: 1px solid #ccc;
padding: 10px 20px;
line-height: 1;
cursor: pointer;
border-radius: 5px;
padding-bottom: 25px;
}

.dropdown2[data-control="checkbox-dropdown"].on .dropdown-list {
transform: scale(1, 1);
transition-delay: 0s;
}

.dropdown2[data-control="checkbox-dropdown"].on .dropdown-list .dropdown-option {
opacity: 1;
transition-delay: .2s;
}

.dropdown2[data-control="checkbox-dropdown"].on .dropdown-label:before {
content: '▲ ';
}

.dropdown2[data-control="checkbox-dropdown"] [type="checkbox"] {
position: relative;
top: -1px;
margin-right: 4px;
}

.dropdown2 {
margin: 0 5%;
}
/* Ending for category dropdown */

/* for join group boxes */

.join_group_box {
width: 250px; 
height: 200px;
border: 3px solid #bcbff5;
background-color: #F8F8F8;
margin: 15px;
padding: 20px;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
border-radius: 20px;
}

.join_group_container {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin-left: 1%;
margin-right: 1%;
}
.group_name_label {
justify-content: center;
font-size: 2em;
font-weight: 100;
}
.group_admin_label {
justify-content: center;
font-size: 1.25em;
}

.join_group_text {
justify-content: center;
text-align: center;
word-wrap: break-word;
max-width: 100%;
}
.join_group_btn {
background-color: #7477d7;
outline: none;
color: white;
}

/* end join group boxes */

/* join group searching */

.show-inline{
display: flex;
justify-content: center;
margin-bottom: 20px;
}
.join-group-search-bar {
width: 60%;
height: 35px;
border-radius: 10px;
border: 1px solid #ccc;
background-image: url(https://www.freeiconspng.com/thumbs/magnifying-glass-icon/magnifying-glass-icon-13.png);
background-position: 10px center;
background-repeat: no-repeat;
background-size: 20px;
padding-left: 40px;
margin-right: 10px;
}
.search-btn {
border-radius: 10px;
background-color: white;
width: 85px;
outline: none;
border: none;
}

/* end join group searching */

/* start create group */

.create-group-pwfield {
margin: 5px;
padding: 5px;
justify-content: center;
align-items: center;
outline: none;
border-radius: 4px;
border: 1px solid #ccc; /* Add a border */
}

/* end create group */

/* Styling for group settings */
.group-header-settings {
text-align: center;
font-weight: 600;
}

.group-settings-button {
  margin-top: 15px;
  background-color: #5B5FC5;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  text-align: center;
}

.group-members-settings {
font-size: 20px;
margin-left: 25px;
font-weight: 800px;
}

.make-inline {
display: flex;
align-items: center;
align-self: center;
height: 100%;
}
.set-admin-btn {
margin: 10px;
color:#7477d7;
}
.remove-member-btn {
margin: 10px;
color: red;
}

/* End of styling for group settings */

@media screen and (min-width: 501px) {
.line_chart {
  height: 100%;
  width: 825px;
  padding: 10px;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 10px;
  border: 2px solid #a1a5c1;
  border-radius: 10px;
  background-color: #e2e3ed;
}
}

@media screen and (max-width: 501px) {
.line_chart {
  height: 100%;
  width: 90%;
  padding: 10px;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 20px;
  border: 2px solid #a1a5c1;
  border-radius: 10px;
  background-color: #e2e3ed;
}
}

.dashboard-small-text {
font-weight: 600;
font-size: 2.7em;
}

.dashboard-small-header {
margin-top: 10px;
font-size: 1.5em;
font-weight: 500;
}